:root {
  /* bg colors */
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
}
@media screen and (max-width: 992px) {
  .navbar {
    gap: 50px;
  }
  .menu-label {
    display: flex;
    font-size: 32px;
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
  }
  .navbar-list {
    top: 65px;
    left: 48%;
    right: 5%;
    width: 51%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    border: 4px solid var(--electric);
    border-radius: 0px 0px 15px 15px;
    gap: 80px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.925);
    display: none;
    padding-bottom: 20px;
  }
  .navbar-list a {
    font-size: 26px;
  }

  #toggle-menu:checked + .navbar-list {
    display: flex;
  }

  .hero-info {
    width: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 30px;
    padding-right: 120px;
  }
  .hero-info-h1 {
    width: 380px;
    justify-content: center;
  }

  .hero-info p {
    justify-content: center;
    text-align: center;
    width: 350px;
  }
  .button-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (max-width: 552px) {
  /*adaptado para celu*/

  .hero-info {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  .hero-info-h1 {
    background-color: red;
    padding-left: 130px;
    padding-right: 12px;
  }

  .hero-info p {
    padding-right: 40px;
    padding-left: 150px;
  }

  .button-container {
    padding-left: 120px;
  }

  /*contact*/

  .contact-info {
    padding-top: 50px;
    width: 100%;
    padding-bottom: 80px;
  }

  .contact-img {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  /*info-cards*/
  .cards-container {
    background-color: red;
    padding-bottom: 50px;
    gap: 100px;
  }

  .info-card {
    background-color: #1e50ff;
    box-shadow: white;
  }
}
