@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,500&family=Poppins:wght@600&display=swap");

:root {
  /*bg colors*/
  --background: white;
  --bg-body: rgb(18, 13, 42);
  --boton-bg: black;

  /*bg text*/
  --color-text: black;
  /*bg efects*/
  --hoover: gold;
  --icon: gray;
  /* bg colors */

  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  list-style: none;
}

/*header*/
header {
  background: linear-gradient(to top, #0f1525, white);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 0px 30px 0px 30px;
  height: 65px;
  position: fixed;
}

.logo {
  width: 200px;
  height: 100px;
  padding: 18px;
}

/*navbar*/
.navbar,
.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 60px;
}
.navbar-list {
  gap: 70px;
  font-size: 20px;
}

.navbar-list a {
  color: blue;
  -webkit-text-stroke: 1px black;
}
.navbar-list i {
  padding-right: 7px;
  color: black;
}

.navbar-list li:hover {
  transform: scale(1.1);
}

.header li a:hover {
  color: var(--hoover);
}

/*menu-toggle*/

#toggle-menu {
  display: none;
}

.menu-label {
  font-size: 32px;
  color: white;
  cursor: pointer;
  display: none;
}

/*hero info*/
#hero {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  background-image: url(./img/fondo-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
}
.hero-info {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 500px;
  gap: 50px;
  background-color: var(--btn-bg);
  border-radius: 10px;
}
.hero-info-h1 {
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, orange, red);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px var(--color-text);
  padding-left: 50px;
  padding-right: 50px;
}
.hero-info p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  color: white;
  -webkit-text-stroke: 0.1px gray;
  word-spacing: 3px;
  font-family: "Poppins", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}
.hero-info span {
  font-weight: 900;
  font-size: 20px;
  color: var(--hoover);
  -webkit-text-stroke: 1px var(--color-text);
}

.hero-img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 130px;
}

.button-container a {
  display: inline-block;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid var(--electric);
  margin: 10px;
}

.button-container a:nth-last-child(1) {
  background-color: var(--icon);
  color: var(--color-text);
}
.button-container a:hover {
  background-color: var(--hoover);
  transform: scale(1.1);
}
/*hero about*/
#hero-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #050d26;
}

.hero-about-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin: 40px;
  word-spacing: 5px;
  color: white;
}
.color-h2 {
  font-weight: bold;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  margin: 20px;
  background: linear-gradient(to bottom, red, blue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding-left: 30px;
}
.color-h2 img:first-child {
  padding-right: 10px;
}

/*info cards*/

#info {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #050d26;
  gap: 40px;
}
#info h2 {
  font-size: 32px;
  font-weight: 800;
  background: linear-gradient(to bottom, white, gold);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.info-p {
  color: var(--text-gray);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 50px;
}
.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  gap: 80px;
}

.info-card {
  width: 260px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 20px;
  border-radius: 15px;
  color: black;
  padding-right: 50px;
  padding-left: 50px;
}

.info-card img {
  margin-top: 20px;
  width: 70px;
}
.info-card h3 {
  font-size: 18px;
  font-weight: 800;
}
.info-card p {
  color: var(--text-gray);
  font-size: 14px;
  font-weight: 400;
}

/*contact*/
#contact {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: white;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-top: 150px;
  padding-bottom: 100px;
}
.contact-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  gap: 30px;
}

#contact h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, red, blue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2.5em;
  font-weight: 800;
  padding-bottom: 20px;
}
.contact-info p {
  font-size: 2em;
  padding-bottom: 20px;
  color: #272d37;
}

.contact-info a {
  color: black;
  font-size: 18px;
}

.contact-img {
  width: 50%;
  height: 300px;
  border-radius: 10px;
}

.contact-info i {
  color: #1e50ff;
  font-size: 20px;
  margin-right: 10px;
}
